/*RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

strong, b {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

a img {
    border: none;
}

/*GLOBAL STYLES*/
html {
    box-shadow: 0 0 0 30px #000000 inset;
    padding: 0 30px;
}

body {
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
}

a {
    color: #ff0000;
}

h1 {
    margin-top: 0;
    font-size: 7vw;
}

h2 {
    font-size: 2em;
}

/*NAV STYLES*/
.nav-links a {
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:active {
    color: #ed6e2f;
}

/*HEADER STYLES*/
.header {
    background-color: #000000;
    color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 20;
}

.header-nav {
    float: right;
    padding: 5.5vh 60px 0 0;
}

.header-nav > li {
    display: inline-block;
    margin-left: 1em;
}

.header-nav > li ~ li {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    padding-left: 1em;
}

.header-nav a {
    color: #ffffff;
}

.header-nav > li:first-child a {
    color: #ed6e2f;
}

.header-nav > li:first-child a:hover {
    color: #ffffff;
}



.header-logo {
    background-color: #000000;
    box-sizing: border-box;
    display: block;
    height: 10vh;
    left: -30px;
    padding: 10px;
    position: relative;
    text-align: center;
    width: 10vw;
}

.header-logo img {
    height: 80%;
    width: auto;
}

.header-logo:hover,
.header-logo:active {
    background-color: #ed6e2f;
}

/*FOOTER STYLES*/
.footer {
    background-color: #000000;
    padding: 5vh 0 5vw 0;
    text-align: center;
}

.footer img {
    width: 50px;
}

.footer h3 {
    color: #ffffff;
    padding-top: 1.5rem;
    text-transform: uppercase;
}

.footer h3 span {
    color: #aaaaaa;
}

.footer-nav li {
    display: inline-block;
    margin: 2em 1em 0 1em;
}
.footer-nav a {
    color: #cccccc;
}

/*HERO STYLES*/
.full-hero {
    background-color: #c7dbfc;
    background-size: cover;
    box-sizing: border-box;
    height: 100vh;
    padding-top: 10vh;
}

.hero-home {
    background-image: url("../images/shark.jpg");
    background-position: center top;
}

.hero-content {
    color: #ffffff;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 50vh;
    transform: translate(0, -50%);
}
.hero-content h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 7vw;
    margin-bottom: 0.25rem;
}

.hero-content .social-link {
    background-color: rgba(255, 255, 255, 0.8);
    color: #556c83;
}

.hero-content .social-link:hover {
    background-color: #000000;
    color: #ffffff;
}

/*SOCIAL STYLES*/
.social-link {
    background: rgba(45, 0, 255, 0.25);
    border-radius: 50%;
    box-sizing: border-box;
    color: #ffffff;
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    height: 2.5rem;
    line-height: 1;
    padding-top: 0.85rem;
    text-align: center;
    text-decoration: none;
    width: 2.5rem;
}

.social-list {
    list-style: none;
    padding: 0;
    text-align: center;
}

.social-list > li {
    display: inline-block;
    margin: 0 0.5em;
}

/*BIO STYLES*/
.bio-wrapper {
    margin: auto;
    max-width: 960px;
    overflow: hidden;
}

.bio-box {
    border: 1px solid #000000;
    box-sizing: border-box;
    float: left;
    margin: 1%;
    padding: 2%;
    width: 23%;
}

.bio-box h3 {
    font-size: 1.5rem;
    margin-top: -40px;
    margin-bottom: 1em;
    text-align: center;
}

.bio-box img {
    width: 100%;
}

.bio-box .social-link {
    display: block;
    margin: 2em 0 1em 0;
}

.bio-copy {
    line-height: 1.4;
}

.bio-copy a {
    color: #008300;
}

